.layout {
  max-width: 192rem;
  min-height: 100vh;
  background-color: #fff;
  margin: 0 auto;
  position: relative;

  @include respond(tab-land) {
    margin-top: 9rem;
    padding-top: 0.5rem;
  }
  @include respond(tab-port) {
    margin-top: 4rem; // 900
  }
  @include respond(phone) {
    margin-bottom: 0;
    margin-top: 4rem;
  }
}
